<div class="p-4 mb-3 bg-light rounded">
  <h4 class="fst-italic">About</h4>
  <p class="mb-0">I'm João, 30 years old, and I'm learning Ruby on Rails using Bootstrap and this blog is a test of that.</p>
</div>
